.playback-speed {
    float: right;
    position: relative;

    button {
        background: none;
        color: #fff;
        font-weight: bold;
    }
}

.plugin-playback-speed__menu {
    background: rgba(0, 0, 0, 0.666);
    display: none;
    padding: 5px !important;
    width: 80px;
    position: absolute;
    top: -162px;

    a {
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 1.6em;
        text-align: left;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
